{{#navbar}}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand-container">
        <a href="https://ropensci.org"><img src="https://ropensci.org/img/icon_short_white.svg" id="hexlogo" alt="rOpenSci" /></a>
        <a class="navbar-brand" href="{{#site}}{{root}}{{/site}}index.html"><i>{{#package}}{{name}}{{/package}} <small>v{{#package}}{{version}}{{/package}}</small></i></a>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {{{left}}}
        {{{right}}}
      </ul>
      {{#yaml}}{{#docsearch}}
      <form class="navbar-form navbar-right docsearch" role="search">
        <div class="form-group">
          <input type="search" class="form-control" name="search-input" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off">
        </div>
      </form>
      {{/docsearch}}{{/yaml}}
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div><!--/.navbar -->
{{/navbar}}
